@import '~@angular/material/theming';
@include mat-core();

$primary: mat-palette($mat-gray, 900);
$accent:  mat-palette($mat-amber, 50);
$warn:    mat-palette($mat-red, 900);

$theme: mat-light-theme($primary, $accent, $warn);
//$theme: mat-dark-theme($primary, $accent, $warn);

@include angular-material-theme($theme);
