<mat-toolbar color="primary">

  <img src="../../../assets/logo.png"/>

  <span class="auto-spacer"></span>

  <button mat-icon-button [matMenuTriggerFor]="menu" >
    <mat-icon>menu</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item>
      <mat-icon>lock</mat-icon>
      <span>Login</span>
    </button>
    <button mat-menu-item disabled>
      <mat-icon>people</mat-icon>
      <span>Sign In</span>
    </button>
    <button mat-menu-item>
      <mat-icon>exit_to_app</mat-icon>
      <span>Logout</span>
    </button>
  </mat-menu>
</mat-toolbar>
